/* Coolors Exported Palette - coolors.co/1c0f13-f93e34-ff693f-9d76a0-fbfbfb */



/* RGB */
$color1: rgba(55, 50, 50, 1);
$color2: rgba(255, 60, 50, 1);
$color3: rgba(255, 105, 63, 1);
$color4: rgba(157, 118, 160, 1);
$color5: rgba(251, 251, 251, 1);

/* Fonts */

$font1: 'Ubuntu', sans-serif;
$font2: 'Tomorrow', sans-serif;
$font3: 'Josefin Sans', sans-serif;
$font4: 'Indie Flower', cursive;
$font5: 'Comfortaa', cursive;
$font6: 'Permanent Marker', cursive;
$font7: 'Fredoka One', cursive;
$font8: 'Press Start 2P', cursive;
$font9: 'Bad Script', cursive;
$font10: 'Fugaz One', cursive;
$font11: 'Saira', sans-serif;
$font12: 'Electrolize', sans-serif;
$font13: 'Merienda One', cursive;
$font14: 'Yeon Sung', cursive;
$font15: 'VT323', monospace;
$font16: 'Aldrich', sans-serif;
$font17: 'Aladin', cursive;
$font18: 'Itim', cursive;
$font19: 'Racing Sans One', cursive;

/* media queries */

/* Cell */

@media only screen and (min-width: 1px) and (max-width: 480px){
  .nav-item{
    font: 2rem $font2;
  }
  a img {
    width: 4.5rem;
  }
}

/* Tablette */

@media screen and (min-width: 481px) and (max-width: 980px) {
  .nav-item{
    font: 2rem $font2;
  }
  a img {
    width: 4.5rem;
  }
}




#\#commande-nav {
  background-color: $color5;
}
#\#artistes-nav {
  background-color: $color2;
}
#\#Marchandise-nav {
  background-color: $color1;
}
#\#index-nav {
  background-color: $color5;
}
#\#informations-nav {
  background-color: $color1;
}
.dropdown-menu {
  background-color: $color1;
}
.dropdown-item {
  color: $color5;
}

.carousel-img {
  min-width: 100%;
  max-width: 100%;
}
nav {
  min-width: 100%;
}

.nav-item{
  font: 1.5rem $font15;
}
h2 {
  font: $font1;
}
h4 {

}
a img {
  width: 4.5rem;
}
.navbar-toggler {
  border: none;
}
.font-racing {
  font-family: $font19;
}
.font-VT23 {
  font-family: $font2;
  font-size: 1.1rem;
}

#color-picker-purple {
  background-color: rgb(180,131,197);
  color: rgb(180,131,197);
  border: none;
  border-radius: 10px;
}
#color-picker-orange {
  background-color: rgb(241,179,66);
  color: rgb(241,179,66);
  border: none;
  border-radius: 10px;
}
#color-picker-pink {
  background-color: rgb(211,106,175);
  color: rgb(211,106,175);
  border: none;
  border-radius: 10px;
}

#color-picker-purple:focus {
  background-color: rgb(180,131,197);
  color: rgb(180,131,197);
  border: none;
  outline: rgb(191,86,155);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(191,86,155) inset;
}
#color-picker-orange:focus {
  background-color: rgb(241,179,66);
  color: rgb(241,179,66);
  border: none;
  outline: rgb(191,86,155);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(241, 135, 0) inset;
}
#color-picker-pink:focus {
  background-color: rgb(211,106,175);
  color: rgb(211,106,175);
  border: none;
  border-radius: 10px;
  outline: rgb(191,86,55);
  box-shadow: 5px 5px 5px 5px rgb(189, 0, 88) inset;
}

#hoodie {
  padding: 20px;
  border: solid 3px darkgray;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.2);
}
#hoodie-back {
  margin-top: 5px;
  padding: 5px 20px;
  border: solid 3px darkgray;
  border-radius: 15px;
  box-shadow: 1px 1px 30px 1px rgba(0,0,0,0.1);
}





  //Preload Screen//



.Anim-typing {
  font: 4rem $font16;
}
.preload{
  width: 100%;
  height: 100%;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  height: 70px;
  padding-top: 25vh;
  padding-bottom: 10vh;
  margin: 100px;
  font-size: 50px;
  text-align: center;
  color: $color5;
}
.loader-frame {
  width: 70px;
  height: 70px;
  margin: auto;
  position: relative;
}
.loader1, .loader2 {
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}
.loader1 {
  width: 70px;
  height: 70px;
  border-top: 5px solid $color5;
  border-bottom: 5px solid $color5;
  animation: clockwisespin 2s linear 3;
}



@keyframes clockwisespin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}



  //Parallax vidéo//


.ParallaxVideo{
  height: 100%;
  padding-bottom: 25%;
  padding-top: 15%;
}
.ParallaxVideo video{
  position: fixed;
  z-index: -999;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.ParallaxVideo h1 {
  color: #ffffff;
  text-align: center;
}
/* Weird line fix */

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}