body {
    background-image: url("https://cnet2.cbsistatic.com/img/VRxpvsoe5JZwUMYT6adnHFtT39c=/1092x0/2019/06/25/b54d3ef7-2b27-495a-bc28-83424298b91b/gettyimages-1003509258.jpg");
    background-size: cover;
}

section{
    background-color: white;
}

